body {
    background: #292a2d;
    color: #d5d5d5;
    margin: auto;
    margin-bottom: 500px;
    scrollbar-color: gray #292a2d;
    font-family: sans-serif;
}

main {
    max-width: 800px;
    width: 100%;
    margin: auto;
    padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: #d88c00;
}

footer {
    text-align: center;
    clear: both;
    margin: auto;
}

footer {
    margin: 3em;
}

code {
	overflow-wrap: break-word;
	color: lime;
}

img {
    max-width: 90%;
    max-height: 400px;
    margin: auto;
    display: block;
}

footer li {
    display: inline-block;
    list-style: none;
    padding: .5em;
    max-width: 7em;
}

footer ul, #taglist {
    padding: 0;
    margin: .5em;
}

a {
    color: #ffe866;
    text-decoration: none;
}

a:hover {
    color: #ac9200;
}

a:visited {
    color: #ac9200;
}

header {
    background-color: #232427;
    padding: 0 10px 0 10px;
}

header .content {
    max-width: 850px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header nav li {
    list-style-type: none;
    display: inline;
    margin-left: 20px;
}

.logo {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
}

.logo h1 {
    font-size: 1.125rem;
    line-height: 1.54;
    font-weight: 700;
    font-family: monospace;
    color: #d5d5d5;
}

span#cursor {
    display: inline-block;
    width: 10px;
    line-height: 1.54;
    background: #d5d5d5;
    margin-left: 5px;
    border-radius: 1px;
    height: 1.3rem;
    position: relative;
    top: 5px;
    animation: cursor 1.2s infinite;
}

span#title {
    color: rgb(216, 202, 0);
}

@keyframes cursor {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}