<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
    <head>
        <title> {{ .Title | title }} - Jacob Kapitein </title>

        <meta charset="utf-8" />
        <meta name="description" content="{{ .Description }}" />

        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <link rel='stylesheet' type='text/css' href='/css/style.css' />

        {{/*  Custom CSS  */}}
        {{ range .Site.Params.custom_css -}}
            <link rel="stylesheet" type="text/css" href="{{ . | absURL }}" />
        {{- end }}
    </head>
    <body>

        <header>
            <div class="content">
                <div class="logo">
                    <h1>
                        jacobkapitein.com $ <span id="title">{{ if .Title }}{{ .Title }}{{ else }}{{ "/dev/null" }}{{ end }}</span>
                        <span id="cursor"></span>
                    </h1>
                </div>
                {{ partial "nav.html" . }}
            </div>
        </header>

        
        <main>